<div>
    <h1>Chat</h1>
    <section>
        <div>
            <h3>Usuario: <span id="user-name"></span></h3>
            <input type="text" id="chat-box">
        </div>
        <div>
            <p id="message-logs"></p>
        </div>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>